In [1]:
import re
import pickle
import os
from IPython.display import display, HTML

In [2]:
from reader import Reader
src_file = "../../processed_pdfs/sample1/sample1.xml"
r = Reader({"src": src_file})
blocks, kv, text = r.get_content()
content = {"texts": text, "blocks": blocks, "kv": kv}
with open("tmp.pkl", "wb") as fi:
    pickle.dump(content, fi)

Number of Pages:  2

In [3]:
from extractor import Extractor
M = Extractor()

/usr/local/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

WARNING:tensorflow:From /Users/mohit/work/documents-citi/Information-Extraction/QANet/layers.py:52: calling reduce_mean (from tensorflow.python.ops.math_ops) with keep_dims is deprecated and will be removed in a future version.
Instructions for updating:
keep_dims is deprecated, use keepdims instead
WARNING:tensorflow:From /Users/mohit/work/documents-citi/Information-Extraction/QANet/model.py:135: calling softmax (from tensorflow.python.ops.nn_ops) with dim is deprecated and will be removed in a future version.
Instructions for updating:
dim is deprecated, use axis instead
WARNING:tensorflow:From /Users/mohit/work/documents-citi/Information-Extraction/QANet/model.py:181: softmax_cross_entropy_with_logits (from tensorflow.python.ops.nn_ops) is deprecated and will be removed in a future version.
Instructions for updating:

Future major versions of TensorFlow will allow gradients to flow
into the labels input on backprop by default.

See tf.nn.softmax_cross_entropy_with_logits_v2.

Total number of trainable parameters: 788673
INFO:tensorflow:Restoring parameters from models/FRC/model/model_60000.ckpt

In [26]:
file_name = "tmp.pkl"
with open(file_name, "rb") as fi:
    content = pickle.load(fi)
M.set_defs("./defs.json")    
M.set_content(content)
df = M.extract()

In [27]:
display(df.loc[df['Group'] == "Appraisal Information"])

,Name,Value,Type,Method,Region,Source,Page,Group
0,Report Format,Restricted Appraisal Report,None,lookup,None,None,0,Appraisal Information
1,Date of Report,"11th January, 2018",entity,search,key,"Date of Report: 11th January, 2018",0,Appraisal Information
2,Date of Inspection,"10th January, 2018",entity,search,key,"Date of Inspection: 10th January, 2018",0,Appraisal Information
3,File Reference #,None,None,None,None,None,None,Appraisal Information
4,Asset #,None,None,regex,None,None,None,Appraisal Information
5,Work Request #,None,None,regex,None,None,None,Appraisal Information
6,Tracking #,None,None,regex,None,None,None,Appraisal Information
7,Interest Appraised,None,None,None,None,None,None,Appraisal Information
8,Intended Use,financial assessment,text,search,key,Intended Use This report is prepared for the p...,1,Appraisal Information
9,Intended User,Citibank N.A,entity,search,key,Intended User Citibank N.A,1,Appraisal Information
10,Extraordinary Assumptions,no,text,search,paragraph,Financial Details\nThe date of value is 12th J...,1,Appraisal Information
11,Hypothetical Conditions,no hypothetical conditions,text,search,paragraph,"The date of value is 12th January, 2018. The i...",1,Appraisal Information
12,USPAP Compliance,No,None,lookup,None,None,None,Appraisal Information
13,FIRREA Compliance,No,None,lookup,None,None,None,Appraisal Information
14,Appraiser(s) Name and Company,None,None,regex,None,None,None,Appraisal Information

In [28]:
display(df.loc[df['Group'] == "Property Identification"])

,Name,Value,Type,Method,Region,Source,Page,Group
15,Property Name,"123 Watson Dr, Miami, FL, USA 90012",text,search,key,"Property Name 123 Watson Dr, Miami, FL, USA 90012",1,Property Identification
16,Address,"123 Watson Dr, Miami, FL, USA 90012",entity,search,key,"Address: 123 Watson Dr, Miami, FL, USA 90012",1,Property Identification
17,Assessor Parcel Number,None,None,None,None,None,None,Property Identification
18,Section Block Lot,None,None,regex,None,None,None,Property Identification
19,Property Owner,None,None,None,None,None,None,Property Identification
20,Purchase Date,None,None,None,None,None,None,Property Identification
21,Purchase Price,None,None,None,None,None,None,Property Identification
22,Sales History,None,None,None,None,None,None,Property Identification

In [29]:
display(df.loc[df['Group'] == "Site Description"])

,Name,Value,Type,Method,Region,Source,Page,Group
23,Property Type,Light Industrial,text,search,key,Property Type: Light Industrial,1,Site Description
24,Land Area,None,None,None,None,None,None,Site Description
25,Site Utility,None,None,None,None,None,None,Site Description
26,Site Topography,Mostly level,text,search,key,Topography Mostly level,1,Site Description
27,Site Shape,None,None,None,None,None,None,Site Description
28,Frontage,None,None,None,None,None,None,Site Description
29,Access,None,None,None,None,None,None,Site Description
30,Visibility,None,None,None,None,None,None,Site Description
31,No. of Parking Spaces,None,None,None,None,None,None,Site Description
32,Parking Type,None,None,None,None,None,None,Site Description
33,Zoning,None,None,None,None,None,None,Site Description
34,Property Condition,None,None,None,None,None,None,Site Description
35,Flood Zone Code,None,None,None,None,None,None,Site Description
36,Special Flood Hazard Area,None,None,None,None,None,None,Site Description
37,Flood Map Number,None,None,None,None,None,None,Site Description
38,Flood Map Date,None,None,None,None,None,None,Site Description
39,Property Rating,None,None,None,None,None,None,Site Description
40,Highest and Best Use (As Vacant),None,None,None,None,None,None,Site Description
41,Highest and Best Use (As Improved),None,None,None,None,None,None,Site Description

In [30]:
display(df.loc[df['Group'] == "Improvement Details"])

,Name,Value,Type,Method,Region,Source,Page,Group
42,Year Built,None,None,None,None,None,None,Improvement Details
43,Gross Building Area,4500 SF,entity,search,key,Gross Building Area 4500 SF,1,Improvement Details
44,Net Rentable Area,None,None,None,None,None,None,Improvement Details
45,Land to Building Ratio,None,None,None,None,None,None,Improvement Details
46,Actual Age,None,None,None,None,None,None,Improvement Details
47,Effective Age,None,None,None,None,None,None,Improvement Details
48,Economic Life,None,None,None,None,None,None,Improvement Details
49,Remaining Economic Life,None,None,None,None,None,None,Improvement Details
50,No. of Buildings,None,None,None,None,None,None,Improvement Details
51,No. of Stories,None,None,None,None,None,None,Improvement Details
52,No. of Units,None,None,None,None,None,None,Improvement Details
53,Building Quality,None,None,None,None,None,None,Improvement Details
54,Building Condition,None,None,None,None,None,None,Improvement Details
55,Construction Type,None,None,None,None,None,None,Improvement Details
56,Foundation,None,None,None,None,None,None,Improvement Details
57,Framing,None,None,None,None,None,None,Improvement Details
58,Flooring,None,None,None,None,None,None,Improvement Details
59,Roof Type,None,None,None,None,None,None,Improvement Details
60,Windows,None,None,None,None,None,None,Improvement Details
61,Doors,None,None,None,None,None,None,Improvement Details
62,Heat Source,None,None,None,None,None,None,Improvement Details
63,HVAC,None,None,None,None,None,None,Improvement Details

In [31]:
display(df.loc[df['Group'] == "Occupancy Details"])

                Name Value  Type Method Region Source  Page              Group
64  Occupancy Status  None  None   None   None   None  None  Occupancy Details
65    Occupancy Type  None  None   None   None   None  None  Occupancy Details
66  % Occupancy Type  None  None   None   None   None  None  Occupancy Details
67    No. of Tenants  None  None   None   None   None  None  Occupancy Details

In [32]:
display(df.loc[df['Group'] == "Valuation Details"])

,Name,Value,Type,Method,Region,Source,Page,Group
68,Valuation Methodology,None,None,None,None,None,None,Valuation Details
69,Exposure Time,None,None,None,None,None,None,Valuation Details
70,Marketing Time,None,None,None,None,None,None,Valuation Details
71,Cost Approach Estimate,N/A,text,search,key,Cost Approach N/A,1,Valuation Details
72,Sales Comparison Approach Estimate,"$200,000",entity,search,key,"Sales Comparison Approach $200,000",1,Valuation Details
73,Income Capitalization Approach Estimate,"$100,000",entity,search,key,"Income Approach $100,000",1,Valuation Details
74,Potential Gross Income,None,None,None,None,None,None,Valuation Details
75,Stabilized Vacancy Rate,None,None,None,None,None,None,Valuation Details
76,Collection Loss,None,None,None,None,None,None,Valuation Details
77,Effective Gross Income,None,None,None,None,None,None,Valuation Details
78,Total Expenses,None,None,None,None,None,None,Valuation Details
79,Net Operating Income,None,None,None,None,None,None,Valuation Details
80,Capitalization Rate,5%,entity,search,key,Capitalization Rate 5%,1,Valuation Details